{{page-title 'Congrats'}}

<div class='container my-5'>
  <div class='row justify-content-center'>
    <div class='col-md-8 text-center'>
      {{! template-lint-disable no-inline-styles }}
      <img
        src='iPhone.png'
        class='img-fluid mb-4'
        alt='iPhone 15 Pro Max'
        style='max-width: 300px;'
      />
      <h1 class='mb-3' data-test-congrats>Gratulacje użytkowniku!</h1>
      <p class='mb-0' data-test-info>Wygrałeś nowego
        <strong>iPhone 15 Pro Max</strong>!</p>
      <p class='mb-3 text-muted' data-test-not-scam><small>(to nie jest
          oszustwo.)</small></p>
      <button
        type='button'
        class='btn btn-success btn-lg'
        {{on 'click' this.onRedirect}}
        data-test-order
      >Kliknij aby odebrać</button>
    </div>
  </div>
</div>

{{outlet}}