{{page-title 'Summary'}}

<div class='container text-center mt-5'>
  <h1 class='mb-3' data-test-user-order-summary>Thank You,
    {{this.model.name}}
    {{this.model.surname}}!</h1>
  <p class='lead'>Your order will be shipped soon.</p>
</div>